*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.menu{
    width: 100%;
    height:200px ;
    display: grid;
}
.menu__arriba{ 
    background-color: blueviolet;
    width: 100%;
    height: 40px;
    text-align: center; 
    font-size: 30px;
    display: grid;     
}

.menu__central{
    width: 100%;
    height: 140px;
    background-color: #F212A6;
    display: block;

}
.titulo{
    font-size: 60px;
    text-align: center;
}

h1{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}

a{
    color: #ffffff;
}

.menu__abajo{
    background-color: #AD11E4 ;

}

.menu__abajo_ul{
    width: 100%;
    height: 60px;
}
.menu__abajo_ul-li{
    color: black;
    text-align: center;
    display: inline-block;
    margin: 15px;
    font-size: 30px;

}

.menu__abajo_ul-li2{
    color: black;
    text-align: center;
    display: inline-block;
    margin: 15px ;
    margin-left: 600px;
    font-size: 30px;

}
.menu__abajo_ul-li3{
    color: black;
    text-align: center;
    display: inline-block;
    margin: 15px;
    font-size: 30px;

}

.menu__abajo_ul-input{
    color: black;
    margin-left: 50px;
    margin-top: 18px;
    margin-bottom: 15px;
}


.main{
    background-color:#ffffff ;
    width: 100%;
    height: calc(180vh - 200px);
    display: flex;
    border-top: 50px;
    margin-top: 50px;
}

.section{
    background-color: #ffffff;
    width: 84%;
    height: 100%;
    margin-right: 10px;
}

.section__responsive{
    display: none;
}

.card{
    display: inline-block;
    width: 15%;
    background-color: aliceblue;
    margin: 20px 100px 20px 150px ;
    height: 400px;
    padding: 5px;
    border: solid 3px black;
    overflow: auto;
}

.card__img{
    width: auto;
    height: 250px;
}

.card__description{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulosDeImg{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.aside{
    background-color: #F212A6;
    width: 14%;
    height: 100%;
}
.aside__conteiner{
    text-align: center;
    margin-top: 500px;
}

.footer{
    border: 1px solid #e1e1e1;
    margin-top: 1rem;
    padding-top: 2rem;
    width: 100%;
    height: 200px;
    background-color: #AD11E4;

}

.footer__contenedor-all{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

}

.contenedor-all h3{
    margin-bottom: 0.5rem;
    font-size: 25px;
    color:#ffff;
}

.footer-menu a{
    display: block;
    font-size: 20px;
    margin: 10px;
    color:#000000;
}

.footer-menu p{
    display: block;
    font-size: 20px;
    margin: 10px;
}

.menu__abajo__responsive__ul{
    display: none;
}
/*responsive index*/

@media only screen and (max-width:400px) {
    .menu{
        display: grid;
        grid-template-areas: 
        "menu__arriba"
        "menu__central"
        "menu__abajo";
    }
    .menu__arriba{
        grid-area: menu__arriba;
        width: 100%;
        height: 30px;
        font-size: 20px;
    }
    .menu__central{
        grid-area: menu__central;
        width: 100%;
        height: 110px;
    }
    .titulo{
        font-size: 40px;
    }
    .menu__abajo{
        grid-area: menu__abajo;
        width: 100%;
        height: 60px;
    }
    .menu__abajo_ul{
        display: none;
    }

    .menu__abajo__responsive__ul{
        display: block;
        width: 80%;
    }
    .nav__responsive-buttom{
        display: block;
        font-size: 40px;
        margin: 5px;
    }
    .carrito__responsive{
        display: block;
        float:right;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .nav__responsive-buttom li{
        float:left;
    }
    .nav__responsive__conteiner{
        display: none;
        position: absolute;
        min-width: 150px;
    }

    .main{
        display: block;
        height:calc(150vh - 200px) ;

    }
    .section{
        display: none;
    }
    .section__responsive{
        display: block;
    }
    .card__responsive{
        display: inline-block;
        background-color: aliceblue;
        margin-left: 25px;
        height: 250px;
        width: 150px;
        padding: 5px;
        border: solid 3px black;
        overflow: auto;
    }
    
    .card__desciption__responsive{
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .titulosDeImg__responsive{
        font-size: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin-top: 40px;
    }

    .aside{
        display: none;
    }
    .footer{
        width: 100%;
        height: 400px;
    }
    .footer__contenedor-all{
        display: block;
        margin-left: 80px;
    }
    .footer__contenedor-all h3{
        font-size: 25px;
    }
    
    .footer-menu a{
        font-size: 15px;
    }
    .footer-menu p{
        font-size: 15px;
    }
}


/*Pagina de registro*/

.register__form{
    display: grid;
    /* grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(4,1fr);*/
    gap: 10px;
    grid-template-areas: 
    "nombre nombre apellido apellido"
    "email email email email"
    "confirm-email confirm-email confirm-email confirm-email"
    "hombre radio-hombre mujer radio-mujer"
    "label-password label-password label-password label-password"
    "password  password password  password"
    "label-confirm-password label-confirm-password label-confirm-password label-confirm-password"
    "confirm-password confirm-password confirm-password confirm-password"
    ".  enviar enviar .";
    margin: 10px;
}
.register__form__input{
    margin: 5px;
    background-color: #f5f5f5;
    height: 30px;

}
.nombre{
    grid-area: nombre;
    margin-left: 200px;
}
.apellido{
    grid-area: apellido;
    margin-right: 200px;
}
.email{
    grid-area: email;
    margin: 0px 200px;
}
.confirm-email{
    grid-area: confirm-email;
    margin: 0px 200px;
}
.hombre{
    grid-area: hombre;
    background-color: #ffffff;
    margin-left:200px;
}
.mujer{
    grid-area: mujer;
    background-color: #ffffff;
}
.label-password{
    grid-area: label-password;
    background-color: #ffffff;
    margin-left: 200px;
}
.password{
    grid-area: password;
    margin: 0px 200px;
}
.label-confirm-password{
    grid-area: label-confirm-password;
    background-color: #ffffff;
    margin-left: 200px;
}
.confirm-password{
    grid-area: confirm-password;
    margin: 0px 200px;
}
.enviar{
    grid-area: enviar;
    width: 100px;
    margin-left: 42%;
}
.radio-hombre{
    grid-area: radio-hombre;
    border: 1px solid black;

}
.radio-mujer{
    grid-area: radio-mujer;
    margin-right: 100px;
    

}

.contenedor__registrarse{
    border: 1px solid black;
    height: 80px;
    width: 50%;
    margin: 40px 40px 40px 400px;
    background-color: #fd5b99;
}

.registrarse{
    text-align: center;
    align-items: center;
    padding: 15px 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.main__register{
    background-color:#ffffff ;
    width: 100%;
    height: calc(130vh - 600px);
    display: flex;
    border-top: 50px;
    margin-top: 50px;
}

.section__register{
    background-color: #ffffff;
    width: 84%;
    height: 100%;
    margin-right: 10px;
}

.aside__register{
    background-color: #F212A6;
    width: 14%;
    height: 100%
}

.aside__conteiner-register{
    text-align: center;
    margin-top: 250px;
}


/*pagian de registro reponsive*/
@media only screen and (max-width:400px){
    .menu{
        display: grid;
        grid-template-areas: 
        "menu__arriba"
        "menu__central"
        "menu__abajo";
    }
    .menu__arriba{
        grid-area: menu__arriba;
        width: 100%;
        height: 30px;
        font-size: 20px;
    }
    .menu__central{
        grid-area: menu__central;
        width: 100%;
        height: 110px;
    }
    .titulo{
        font-size: 40px;
    }
    .menu__abajo{
        grid-area: menu__abajo;
        width: 100%;
        height: 60px;
    }
    .menu__abajo_ul{
        display: none;
    }

    .menu__abajo__responsive__ul{
        display: block;
        width: 80%;
    }
    .nav__responsive-buttom{
        display: block;
        font-size: 40px;
        margin: 5px;
    }
    .carrito__responsive{
        display: block;
        float:right;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .nav__responsive-buttom li{
        float:left;
    }
    .nav__responsive__conteiner{
        display: none;
        position: absolute;
        min-width: 150px;
    }

    .register__form{
        display: grid;
        gap: 10px;
        grid-template-areas: 
    "nombre nombre nombre nombre "
    "apellido apellido apellido apellido"
    "email email email email"
    "confirm-email confirm-email confirm-email confirm-email"
    "hombre hombre radio-hombre radio-hombre"
    "mujer mujer radio-mujer radio-mujer"
    "label-password label-password label-password label-password"
    "password  password password  password"
    "label-confirm-password label-confirm-password label-confirm-password label-confirm-password"
    "confirm-password confirm-password confirm-password confirm-password"
    ". enviar . .";
    }
    .register__form__input{
        margin: 5px;
        background-color: #f5f5f5;
        height: 30px;
        width: 300px;
    
    }
    .nombre{
        grid-area: nombre;

    }
    .apellido{
        grid-area: apellido;

    }
    .email{
        grid-area: email;

    }
    .confirm-email{
        grid-area: confirm-email;

    }
    .hombre{
        grid-area: hombre;
        background-color: #ffffff;
        width: 150px;

    }
    .mujer{
        grid-area: mujer;
        background-color: #ffffff;
        width: 150px;
    }
    .label-password{
        grid-area: label-password;
        background-color: #ffffff;

    }
    .password{
        grid-area: password;

    }
    .label-confirm-password{
        grid-area: label-confirm-password;
        background-color: #ffffff;
    }
    .confirm-password{
        grid-area: confirm-password;

    }
    .enviar{
        grid-area: enviar;
        width: 100px;
    }
    .radio-hombre{
        grid-area: radio-hombre;
        border: 1px solid black;
        width: 150px;
    
    }
    .radio-mujer{
        grid-area: radio-mujer;
        width: 150px;
        }
    
    .contenedor__registrarse{
        border: 1px solid black;
        height: 70px;
        width: 250px;
        margin: 40px 40px 40px 400px;
        background-color: #fd5b99;
        margin: 0px;
        margin: 40px;
    }
    
    .registrarse{
        text-align: center;
        align-items: center;
        padding: 15px 0px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 35px;
    }
    
    .main__register{
        background-color:#ffffff ;
        width: 100%;
        height: calc(160vh - 600px);
        display: flex;
        border-top: 50px;
        margin-top: 50px;
    }
    
    .section__register{
        background-color: #ffffff;
        width: 84%;
        height: 100%;
        margin-right: 10px;
    }

    .aside__register{
        display: none;
    }
    .footer{
        width: 100%;
        height: 400px;
    }
    .footer__contenedor-all{
        display: block;
        margin-left: 80px;
    }
    .footer__contenedor-all h3{
        font-size: 25px;
    }
    
    .footer-menu a{
        font-size: 15px;
    }
    .footer-menu p{
        font-size: 15px;
    }

}

/*iniciar secion*/
.main__login{
    background-color:#ffffff ;
    width: 100%;
    height: calc(120vh - 650px);
    display: flex;
    border-top: 50px;
    margin-top: 50px;
}
.section__login{
    background-color: #ffffff;
    width: 84%;
    height: 100%;
    margin-right: 10px;
}
.login__cointeiner{
    display: grid;
    grid-template-areas: 
    "label-mail"
    "mail"
    "label-password2"
    "password2"
    "enviar";
    margin-left: 5px;
    padding-top: 0px;
}

.label-mail{
    grid-area: label-mail;
    margin-left: 400px;
    font-size: 20px;
}
.mail{
    grid-area: mail;
    width: 800px;
    height: 30px;
    margin:auto;
    margin-bottom:30px ;
    

}
.label-password2{
    grid-area: label-password2;
    margin-left:400px;
    font-size: 20px;
}
.password2{
    grid-area: password2;
    width: 800px;
    height: 30px;
    margin:auto;
    margin-bottom: 30px;
}
.enviar{
    grid-area: enviar;
    margin:auto;
}

.aside__conteiner-login{
    text-align: center;
    margin-top: 180px;
}

/*Carrito*/

.contenedor__carrito{
    background-color: #ffffff;   
}
.carrito__ul{
    height: 70px;
    width: 80%;
}

.carrito__ul-li{
    display: inline-block;
    color: black;
    background-color: #f5f5f5;
    margin: 15px;
    height: 40px;
    width: 20%;
    font-size: 30px;
    padding: 5px;
    margin-right: 20px;
}

.section__carrito{
    display: grid;
    grid-template-areas:
    "titulo__carrtio titulo_carrito titulo_carrito"
    "nav__carrito nav__carrito nav__carrito "
    "div__carrito div__carrito div__carrito"
    "div__carrito div__carrito div__carrito"
    "div__carrito div__carrito div__carrito" 
    "form__carrito form__carrito form__carrito";
    width: 84%;
    height: 100%;

}

.nav__carrito{
    grid-area: nav__carrito;
    height: 80px;
    width: 95%;
    margin: 10px 10px 5px 40px;
}
.div__carrito{
    grid-area: div__carrito;
    height: 350px;
    width: 99%;
    background-color: white;
    margin: 5px;
    border-bottom: 3px solid black;
}
.form__carrito{
    grid-area: form__carrito;
    height:180px;
    width: 99%;
    background-color:#ffffff;
    margin-left: 5px;
}

.form__carrito{
    display: grid;
    grid-template-areas: 
    ". form__h4__carrito1 ."
    "form__h3__carrito form__h4__carrito2 form__button__carrito"
    ". form__h4__carrito3 .";
}

.form__h3__carrito{
grid-area: form__h3__carrito;
font-size: 40px;
width: 400px;
}

.form__h4__carrito1{
    grid-area: form__h4__carrito1;
    font-size: 25px;
    width: 300px;
    height: 60px;
}
.form__h4__carrito2{
    grid-area: form__h4__carrito2;
    font-size: 25px;
    width: 300px;
    height: 40px;

}
.form__h4__carrito3{
    grid-area: form__h4__carrito3;
    font-size: 25px;
    width: 300px;
    height: 40px;

}

.form__button__carrito{
    grid-area: form__button__carrito;
    margin: 5px;
    width: 400px;
    height: 80px;
}

.main__carrito{
    background-color:#ffffff ;
    width: 100%;
    height: calc(130vh - 550px);
    display: flex;
    border-top: 50px;
    margin-top: 50px;
}

.titulo__carrito{
    background-color: white;
    height: 70px;
    width: 500px;
    margin: 10px 10px 0px 50px;
    font-size: 50px;
    padding-left:20px;
}

/*Productos*/

.main__productos{
    background-color:#db3030 ;
    width: 100%;
    height: calc(180vh - 200px);
    border-top: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-areas: 
    "menu__productos section__productos section__productos section__productos section__productos aside__productos"
    ;

}
.menu__productos{
    grid-area: menu__productos;
    background-color: #ace411;
    width: 250px;
    height: 100%;
}

.section__productos{
    grid-area: section__productos;
    background-color: #3123ac;
    width: 1500px;
    height: 100%;
    margin-right: 5px;

}

.aside__productos{
    grid-area: aside__productos;
    background-color: #F212A6;
    width: 130px;
    height: 100%;
    
}

.conteiner__productos{
    display: inline;
}

.menu__nav__ul__li{
    width: 90%;
    height: 70px;
    background: #000000;
    color: #ffffff;
    margin: 5px;
    border:1px solid #ffffff;
    font-size: 30px;
    padding: 15px;
}

.titulo__menu__productos{
    padding: 40px 10px;
    margin: 5px;
    font-size: 33px;
    font-family: 'Alfa Slab One', cursive;

}

/*Nosostros*/

.main__nosotros{
    background-color:#ffffff ;
    width: 100%;
    height: calc(130vh - 550px);
    display: flex;
    border-top: 50px;
    margin-top: 50px;

}

.titulo__nosotros{
    font-size: 70px;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.section__nosotros{
    width: 84%;
    height: 100%;
    grid-template-areas: 
    "QuienesSomos QuienesSomos"
    "ComoTrabajamos ComoTrabajamos"
    ;
}

.QuienesSomos{
    grid-area: QuienesSomos;
    background-color: #FFFFFF;
    width: 800px;
    height: 100px;
    margin: 10px;
    margin-left: 400px;
    margin-bottom: 50px;
}
.ComoTrabajamos{
    grid-area: ComoTrabajamos;
    background-color: #FFFFFF;
    width: 800px;
    height: 150px;
    margin: 10px;
    margin-left: 400px;
}
.aside__nosotros{
    background-color: #F212A6;
    width: 14%;
    height: 100%
}

.QuienesSomos h2{
    font-size: 33px;
    margin-left: 250px;
    margin-bottom: 20px;
}

.ComoTrabajamos h2{
    font-size: 33px;
    margin-left: 250px;
    margin-bottom: 20px;
}



/*Prueba*/
.conteiner__superior{
    width: 100%;
    height: 400px;
}

.barra__superior{
    width: 100%;
    height: 50px;
    background-color: #F212A6;
}
.barra__superior h2{
    color: #000000;
    font-size: 25px;
}

.contenedor__del__titulo{
    width: 100%;
    height: 150px;
    background-color: #AD11E4;
}

.contenedor__del__titulo h1{
    font-size: 80px;
    text-align: center;
    color: #000000;
    margin: auto;

}